body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* styl dla nagłówka h1 */
  h1 {
    color: #1a1a1a;
    text-align: center;
  }
  
  /* styl dla paragrafów */
  p {
    color: #666;
  }
  
  /* styl dla listy nieuporządkowanej */
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* styl dla elementu listy nieuporządkowanej */
  li {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* styl dla nagłówka h2 */
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* styl dla obrazka */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* styl dla elementów listy zagnieżdżonej */
  li ul li {
    margin-bottom: 10px;
  }
  
  /* styl dla cen */
  li p:first-child {
    font-weight: bold;
    color: #0080ff;
    margin-top: 0;
  }
  
  /* styl dla specyfikacji */
  li ul li {
    margin-left: 20px;
  }